/* slider animation */
.ani-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.top-first {
  display: block;
}
/* .top-first, */
.top-second,
.top-third {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.scroll-icon {
  position: absolute;
  bottom: 7%;
  right: 5%;
  transform: translate(-5%, -7%);
  width: 3.5rem;
  height: 5rem;
  z-index: 3;
}
.scroll-text {
  color: #fff;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin: 0 auto;
  padding-bottom: 1rem;
  animation: blink 3s infinite;
}
.scroll-bar {
  height: 100%;
  width: 2px;
  margin: 0 auto;
  background-color: #fff;
  animation: scroll 3s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
@keyframes blink {
  0%,
  60% {
    opacity: 1;
  }

  28%,
  100% {
    opacity: 0;
  }
}

@keyframes slider {
  10% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.top-first,
.top-second,
.top-third {
  animation: slider 15s forwards;
  opacity: 0;
}
.top-second {
  animation-delay: 3s;
}
.top-third {
  animation-delay: 6s;
}
/* slider animation end */

.img-div {
  background-color: #fff;
}
.img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
}
.texts-on-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-name,
.text-posi,
.text-pros1,
.text-pros2 {
  width: 100vw;
  letter-spacing: 10px;
  font-size: 8rem;
  font-weight: 900;
  text-align: center;
  /* color: rgba(255, 255, 255, 0.3); */
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../imgs/sunflower.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.4));
  text-shadow: 0 0 30px #fff, 0 0 30px #fff;
}
.text-name span {
  display: inline-block;
  animation: showName 3s forwards;
  opacity: 0;
}
.text-posi span {
  font-size: 1rem;
  letter-spacing: 7px;
  transform: translate3d(10px, 10px, 10px);
  animation: showPosi 1s forwards;
  opacity: 0;
}
.text-pros1 span {
  display: inline-block;
  animation: showPros1 0.2s forwards ease-out;
  opacity: 0;
}
.text-pros2 span {
  display: inline-block;
  animation: showPros2 1s forwards ease-out;
  opacity: 0;
}

@keyframes showName {
  0% {
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showPosi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showPros1 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showPros2 {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 900px) {
  .ani-wrapper {
    height: 70vh;
  }
  .img {
    height: 70vh;
    object-position: 45% 100%;
  }
  .texts-on-img {
    top: 40%;
    transform: translate(-50%, -40%);
  }
  .text-name,
  .text-posi,
  .text-pros1,
  .text-pros2 {
    height: 100%;
    font-size: 30px;
  }
}
