.about {
  height: auto;
  color: #aa988a;
  font-family: "Titillium Web", sans-serif;
  position: relative;
}

.title-in-about {
  position: absolute;
  top: 35%;
  left: 0;

  color: #fff;
  font-weight: 900;
  font-size: larger;
  letter-spacing: 3px;
  background-color: #9dc3bc;

  margin-left: 2rem;
  padding: 2rem 5rem;
}

.about-container {
  width: 100%;
  background-color: #fff;
  padding: 3rem 0;
}
.about-texts {
  height: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0rem 3rem 7rem;
  background-color: #fff;
}
.about h1 {
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);

  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Parisienne", cursive;
}

.text-body {
  letter-spacing: 1.5px;
  line-height: 1.4rem;
  padding: 0.5rem;
}
.text-body h2 {
  padding-bottom: 5px;
}

.about .footer {
  color: #4a4947;
}

@media (max-width: 900px) {
  .about {
    height: auto;
  }
  .about-texts {
    padding: 0 3rem;
  }
  .title-in-about {
    padding: 1rem 4rem;
    top: 29%;
  }
  .text-body {
    padding-left: 1rem;
  }
}

@media (min-width: 1200px) {
  .about-container {
    padding: 0 5rem;
  }
  .title-in-about {
    margin-left: 7rem;
  }
}
