.contact {
  color: #555;
  text-align: center;
  padding: 0 0 5rem;
}
.contact-container {
  width: 100%;
  height: 100%;
}
.cont-h1 {
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);

  font-weight: 900;
  letter-spacing: 2px;
  margin: 5rem 0 3rem;
  /* font-family: "Parisienne", cursive; */
  font-family: "Titillium Web", sans-serif;
  transform: translateY(30px);
  opacity: 0;
  transition: 1s;
}
/* show */
.cont-h1-show {
  transform: translateY(0px);
  opacity: 1;
}

.contact-info {
  text-align: center;
  margin: 0 20%;
  transform: translateY(30px);
  opacity: 0;
  transition: 1.7s;
}
.cont-info-show {
  transform: translateY(0px);
  opacity: 1;
}
.contact-info a {
  text-decoration: none;
  color: #555;
}

.contact-icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
.comment {
  letter-spacing: 1px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-in-comment {
  width: 1rem;
  height: 1rem;
}
