.header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px #999;
  backdrop-filter: blur(5px);
  z-index: 999;
  padding: 0 7rem;
  color: rgb(121 117 113);

  transform: translateY(-60px);
  transition: 0.5s;

  position: fixed;
  top: 0;
  left: 0;
}
.visivle {
  transform: translateY(0);
}
.header-name {
  font-size: 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.header-links {
  display: flex;
}
.linktag {
  cursor: pointer;
}
.header-link {
  margin: 1rem;
  transition: 0.1s;
  border-bottom: 3px solid transparent;
}
/* .active {
  border-bottom: 3px solid lightcoral;
} */
.header-link:hover {
  border-bottom: 3px solid #9dc3bc;
}

@media (max-width: 900px) {
  .header {
    padding: 1rem;
    justify-content: space-between;
  }
  .header-link {
    margin: 0.5rem;
  }
}
