* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}
a {
  color: #555;
  text-decoration: none;
}

.App {
  width: 100vw;
  height: auto;
  overflow: hidden;
}
.app-container {
  /* width: 100vw; */
}
