* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: #4a4947;
}

.app-container {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}
