.langs {
  width: auto;
  margin: 0.3rem;

  line-height: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lang {
  color: #fff;
  background-color: #ec5a08;
  border-radius: 10px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 0.2rem;
  padding: 0 1rem;
}
