.work {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}
.work-wrapper {
  margin: 3rem 0;
}
.work a {
  text-decoration: none;
  color: #aa988a;
  cursor: default;
}

.img-and-sitename {
  padding: 2rem 0;
}
.workimg-div {
  overflow: hidden;
}
.work:hover .workimg {
  transform: scale(1.1);
}
.workimg {
  max-width: 27rem;
  height: auto;
  transition: 0.3s;
}

/*  */
.point {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1rem;
  box-sizing: border-box;
  padding: 0 12px;
  margin: 0;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: white;
  background: #f1ba67;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}
.point:before {
  position: absolute;
  content: "";
  top: 0;
  left: -7px;
  border: none;
  height: 38px;
  width: 7px;
  background: #f1ba67;
  border-radius: 5px 0 0 5px;
}
.point:after {
  position: absolute;
  content: "";
  bottom: -7px;
  left: -5px;
  border: none;
  height: 7px;
  width: 5px;
  background: #9b7234;
  border-radius: 5px 0 0 5px;
}
/*  */

.visit-page,
.view-code {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  transition: 0.5s;
  cursor: pointer;
  color: #9dc3bc;
  border: 1.3px solid #9dc3bc;
}

.visit-page:hover,
.view-code:hover {
  color: #fff;
  background-color: #9dc3bc;
  border: 1.3px solid #9dc3bc;
}

.sitetitle {
  color: #555;

  margin: 2rem 0;
  letter-spacing: 1px;
  text-align: center;
}

.work {
  margin: 1rem;
  padding: 0 2rem 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transform: translateY(30px);
  opacity: 0;
  transition: 1s;
}
.work-show {
  transform: translateY(0);
  opacity: 1;
}
.work-container {
  height: auto;
  display: flex;
  justify-content: center;
}

.work-discription {
  width: 50%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-in-work {
  padding-left: 1rem;
  letter-spacing: 1px;
}
.memo {
  margin: 1rem 0 0;
}

.jump-to-pages {
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

@media (max-width: 950px) {
  .workimg {
    max-width: 20rem;
  }

  .sitetitle {
    /* margin: 2rem 0; */
    text-align: center;
  }
  .visit-page,
  .view-code {
    padding: 0.7rem 1.5rem;
  }
  .work-container {
    flex-direction: column;
  }
  .img-and-sitename {
    padding: 0;
  }
  .work-discription {
    margin: auto;
    width: 100%;
  }

  .text-in-work {
    padding: 1rem 0 0;
  }
}

@media (max-width: 840px) {
  .work-container {
    flex-direction: column;
  }

  .workimg-div {
    margin: 0 auto;
    width: auto;
  }
  .workimg {
    max-width: 23rem;
  }
}
