.works {
  font-family: "Titillium Web", sans-serif;
  background-color: #e6dfcd;
  padding: 0 0 5rem;
  /* color: #aa988a; */
  color: #555;
}
.works-h1 {
  color: #555;
  font-size: 2rem;
  text-shadow: 0 0 10px rgb(255 255 255);
  font-weight: 900;
  letter-spacing: 2px;
  margin: 5rem;
  /* font-family: "Parisienne", cursive; */
  font-family: "Titillium Web", sans-serif;
  transform: translateY(30px);
  opacity: 0;
  transition: 1s;
}
.works-h1-show {
  transform: translateY(0px);
  opacity: 1;
}

.works-container {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
}
.slide {
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
}

.jump-to-pages {
  display: flex;
  justify-content: center;
  transition: 0.5s;
  padding-bottom: 4rem;
}

@media (max-width: 950px) {
  .slide {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .slide {
    margin: 0;
  }
}

@media (max-width: 840px) {
  .works {
    padding: 1rem 0 4rem;
  }
  .slide {
    margin: 0;
  }
  .works-h1 {
    margin: 3rem 0;
  }
  .work-container {
    flex-direction: column;
  }
  .jump-to-pages {
    padding-bottom: 2rem;
  }
  .workimg-div {
    margin: 0 auto;
    width: auto;
  }
  .workimg {
    max-width: 23rem;
  }
}

@media (max-width: 500px) {
  .workimg {
    max-width: 20rem;
  }
  .work {
    padding: 1.5rem 0.5rem;
  }
  .sitetitle {
    margin: 0.5rem 0 2rem;
  }
}
