.works {
  font-family: "Titillium Web", sans-serif;
  background-color: #e6dfcd;
  padding: 0 0 5rem;
}
.works h1 {
  font-size: 2rem;
  text-shadow: 0 0 10px rgb(255 255 255);
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Parisienne", cursive;
  margin: 5rem;
}

.works-container {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
}
.slide {
  display: flex;
  flex-direction: column;
  margin: 0 7rem;
}
.jump-to-pages {
  padding-bottom: 2rem;
}

@media (max-width: 950px) {
  .slide {
    flex-direction: column;
  }
  .work-container {
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
  }
}

@media (max-width: 840px) {
  .works {
    padding: 5rem 0;
  }
  .slide {
    margin: 0;
  }

  .work-container {
    flex-direction: column;
  }
  .work-discription {
    padding: 0;
  }
  .jump-to-pages {
    padding-bottom: 2rem;
  }
  .workimg-div {
    margin: 0 auto;
    width: auto;
  }
  .workimg {
    max-width: 23rem;
  }
}
