.work a {
  text-decoration: none;
  color: #555;
  cursor: default;
}

.img-and-sitename {
  padding: 3rem 0;
}
.workimg-div {
  position: relative;
  overflow: hidden;
  width: 22rem;
}
.work:hover .workimg {
  transform: scale(1.1);
}
.workimg {
  width: 20rem;
  height: auto;
  display: inline-block;
  margin: auto 0;
  display: inline-block;
  transition: 0.3s;
}
.jump-to-pages {
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
.visit-page,
.view-code {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  transition: 0.5s;
  cursor: pointer;
  color: #567948;
  border: 1.3px solid #567948;
}

.visit-page:hover,
.view-code:hover {
  color: #fff;
  background-color: #567948;
  border: 1.3px solid #567948;
}

.sitetitle {
  margin: 2rem 0;
  letter-spacing: 1px;
}

.work {
  margin: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.work-container {
  height: auto;
  width: 60vw;

  display: flex;
  justify-content: center;
}

.work-discription {
  width: 50%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-in-work {
  padding: 1rem;
  letter-spacing: 1px;
}

@media (max-width: 950px) {
  .workimg {
    width: 100%;
  }
  .img-and-sitename {
    padding: 1rem 0;
  }
  .sitetitle {
    margin: 1rem 0;
  }
  .visit-page,
  .view-code {
    padding: 0.7rem 1.5rem;
  }
  .work-container {
    flex-direction: column;
  }
  .work-discription {
    margin: auto;
    width: 100%;
  }

  .text-in-work {
    padding: 1rem 0;
  }
}
