.work a {
  text-decoration: none;
  color: #aa988a;
  cursor: default;
}

.img-and-sitename {
  padding: 2rem 0;
}
.workimg-div {
  overflow: hidden;
}
.work:hover .workimg {
  transform: scale(1.1);
}
.workimg {
  max-width: 27rem;
  height: auto;
  transition: 0.3s;
}

.visit-page,
.view-code {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  transition: 0.5s;
  cursor: pointer;
  color: #9dc3bc;
  border: 1.3px solid #9dc3bc;
}

.visit-page:hover,
.view-code:hover {
  color: #fff;
  background-color: #9dc3bc;
  border: 1.3px solid #9dc3bc;
}

.sitetitle {
  color: #555;

  margin: 2rem 0;
  letter-spacing: 1px;
  text-align: left;
}

.work {
  margin: 1rem;
  padding: 0 2rem 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transform: translateY(20px);
  opacity: 0;
  transition: 1s;
}
.work-show {
  transform: translateY(0);
  opacity: 1;
}
.work-container {
  height: auto;
  display: flex;
  justify-content: center;
}

.work-discription {
  width: 50%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-in-work {
  padding-left: 1rem;
  letter-spacing: 1px;
}
.memo {
  margin: 1rem 0 0;
}

@media (max-width: 950px) {
  .workimg {
    max-width: 20rem;
  }
  .img-and-sitename {
    padding: 1rem;
  }
  .sitetitle {
    margin: 1rem 0 2rem;
    text-align: center;
  }
  .visit-page,
  .view-code {
    padding: 0.7rem 1.5rem;
  }
}

@media (max-width: 950px) {
  .work-container {
    flex-direction: column;
  }
  .img-and-sitename {
    padding: 0;
  }
  .work-discription {
    margin: auto;
    width: 100%;
  }

  .text-in-work {
    padding: 1rem 0 0;
  }
}
